/build/vs/bin
/build/vs/lib
/build/vs/obj
/build/vs/.vs
.vs/
.vscode/
/deps/build/vs/bin
/deps/build/vs/lib
/deps/build/vs/obj
/deps/build/vs/.vs

*.VC.db
*.log
*.moc.cpp
*.rcc.cpp

.DS_Store
build/vs/enc_temp_folder/
**/Visualizations
