
#include "winres.h"

#define CONCAT(a,b) a##b
#define STRINGIZE_(x) #x
#define STRINGIZE(x) STRINGIZE_(x)

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
FILEVERSION    1,4,7,0
PRODUCTVERSION 1,4,7,0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "040004b0"
BEGIN
VALUE "CompanyName", "neuromore co"
VALUE "FileDescription", STRINGIZE(APPNAME)
VALUE "FileVersion", "1.4.7.0"
VALUE "InternalName", "neuromore.studio"
VALUE "LegalCopyright", "Copyright (C) 2020"
VALUE "OriginalFilename", ""
VALUE "ProductName", STRINGIZE(APPNAME)
VALUE "ProductVersion", "1.4.7.0"
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x400, 1200
END
END

IDI_ICON1		ICON		DISCARDABLE	STRINGIZE(APPICON)

